extends ../layouts/layout

block head
  title #{application} &middot; FAQs

block content

  .mini-tron
    .container
      h1 Frequently Asked Questions
      p
        | Placeholder for FAQs title.

  .container
    .row
      .col-sm-12
        h4 About our Company
        p The web pages available at #{application}.com and all linked pages (“Site”), are owned and operated by #{application}, Inc. (“#{application}”) a Canadian corporation and is accessed by you under the Terms of Use described below (“Terms”).
        p Please read these terms carefully before using the services. By accessing the site, viewing any content or using any services available on the site (as each is defined below) you are agreeing to be bound by these terms, which together with our Privacy policy, governs our relationship with you in relation to the site. If you disagree with any part of the terms then you may not access the site.
      
    hr.soften

    .row
      .col-sm-12
        h4 Description Of Service
        p The Site is an online community which enables people to conduct and participate in instant group polling (“Services”). Services include, but are not limited to, any service and/or content #{application} makes available to or performs for you, as well as anything displayed, transmitted or performed on the Site or through the Services. Content (“Content”) includes, but is not limited to text, information, data, graphics, blog articles, photographs, images, illustrations, and software.
        p Your access to and use of the Site may be interrupted from time to time as a result of equipment malfunction, updating, maintenance or repair of the Site or any other reason within or outside the control of #{application}. #{application} reserves the right to suspend or discontinue the availability of the Site and/or any Service and/or remove any Content at any time at its sole discretion and without prior notice. #{application} may also impose limits on certain features and Services or restrict your access to parts of or all of the Site and the Services without notice or liability. The Site should not be used or relied upon for storage of your polls you are directed to retain your own copies of all Content posted on the Site.
    
    hr.soften

    
